* {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding-top: 150px;
  max-width: 1200px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  box-shadow: inset 0 -3em 3em rgb(0 200 0 / 30%), 0 0 0 2px white,
    0.3em 0.3em 1em rgba(3, 228, 228, 0.6);
  border-radius: 20px;
}

.gallery-item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.05);
}

.sl-wrapper {
  background-color: rgba(46, 47, 66, 0.8);
}
