.feedback-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
  width: 408px;
  padding: 24px;
  border-radius: 8px;
  background-color: #fff;
}

.email-label {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.email-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  outline: none;
}

.message-label {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.message-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  outline: none;
}

.form-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
